<header>
  <nav>
    <ul>
      <li><%= menu_link('inicio', "/") %></li>
      <li><%= menu_link('contacto', "/contacto") %></li>
      <li><%= menu_link('blog', "/blog") %></li>
    </ul>
  </nav>
</header>
